/*variables*/
$primarybutton : rgba(255, 77, 0, 0.964);
$backgroundcolor : white;
$flexcontainer : flex;
$font-size : 30px;
$font-weight : bold;
/*header section*/
header {
    background: $backgroundcolor;
    display: $flexcontainer;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.logopst{
    position: relative;
    top: 20px;
    margin-left: 100px;
  }
nav {
    ul {
        position: relative;
        margin-left: 1000px;
     }
     li {
        display: inline-block;
     }
     a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
     }
      button {
        background: $primarybutton;
     }
     
}
/*body section*/

#body-size{
    width: fit-content;
    line-height: 1vh;
}
      button {
        background: $primarybutton;
      }
      p {
        display: $flexcontainer;
      }
      #bckgrnd {
        background: rgb(224, 235, 241);
        line-height: 2vh;

      }
      #align-right{
        justify-content: right;
        display: flex;
        position: relative;
        top: -200px;
        left: -250px;
      }
      .margin-right{
        margin: 10px;
      }
      .content{
        position: relative;
        top: 80px;
        margin-left: 100px;
      }
      #text-color {
        color: $primarybutton;
     }
     .font{
        font-size: $font-size;
        font-weight: $font-weight;
     }

/*footer section*/
footer {
    background: $backgroundcolor;
}
.text-right {
    display: $flexcontainer;
    justify-content: center;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: 2vh;
}
.margin-left{
    margin: 50px;
  }